{% extends 'django_messages/base.html' %}

{% load i18n %}

{% block content %}
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Sent</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item active">Sent</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row align-items-top">
        <div class="col-lg-12">  
                
          {% if messages %}
          {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}

          {% if message_list|length == 0 %}
            <div class="col-lg-12">
              <div class="alert alert-warning" role="alert">
                No messages available.
              </div>
            </div>
          {% endif %}  

          {% if message_list %}  

          {% for message in message_list  %}

          <div class="col-lg-12">

            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  Subject: <a href="{{ message.get_absolute_url }}">{{ message.subject }}</a>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted">
                  <strong>Sent at: </strong>{{ message.sent_at|date:_("DATETIME_FORMAT") }}
                </h6>
                <h6 class="card-subtitle mb-2 text-muted">
                  <strong>To: </strong>{{ message.recipient }}
                </h6>

                <p class="card-text">
                  {{ message.body|truncatewords:50 }}
                </p>
                <p class="card-text"><a href="{{ message.get_absolute_url }}" class="btn btn-primary">View Message</a></p>
                <a href="{% url 'messages_reply' message.id %}" class="card-link">
                  Reply
                </a>
                <a href="{% url 'messages_delete' message.id %}?next={% url 'messages_outbox' %}"" class="card-link">
                  Delete
                </a>
              </div>
            </div><!-- End Card with titles, buttons, and links -->
  
          </div>
          
          {% endfor %}

          {% endif %}

          
        </div>
        <a href="{% url 'messages_compose' %}" class="d-flex align-items-right justify-content-right">
          <span class="badge rounded-pill bg-primary p-2 ms-2">Compose</span>
        </a>
      </div>
    </section>

  </main><!-- End #main -->
{% endblock %}