{% extends "teachers/teacher_base.html" %}
{% load i18n %}
  {% block title %}
  {{ quiz.title }}
{% endblock %}

{% block content %}
	<main id="main" class="main">

        <div class="pagetitle">
          <h1>Exams</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item"><a href="{% url 'student_quiz_index' %}">Exams</a></li>
              <li class="breadcrumb-item"><a href="">{{ quiz.subject|truncatechars:10 }}</a></li>
              <li class="breadcrumb-item active">{{ quiz.title|truncatechars:10 }}</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section">
          <div class="row align-items-top">
            <div class="col-lg-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h4 class="card-title">{{ quiz.title }}</h4>
                    <h6 class="text-secondary">{{ quiz.subject }}</h6>
                    {% if quiz.single_attempt %}
                      <h4 class="text-danger">You will only get one attempt at this quiz!</h4>
                    {% endif %}
                    <p>{{ quiz.description }}</p>
                    <p>
                      <a href="{% url 'student_quiz_question' quiz_name=quiz.url %}" class="btn btn-outline-primary">
                          Start Exam
                      </a>
                    </p>
                  </div>

                </div>
                      
            </div>

          </div>
        </section>

      </main><!-- End #main -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}
