{% extends "teachers/teacher_base.html" %}
{% load i18n %}
{% block title %}All Quizzes{% endblock %}
{% load static %}

{% block content %}
	<main id="main" class="main">

        <div class="pagetitle">
          <h1>Exams</h1>
          <nav>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
              <li class="breadcrumb-item active">Exams</li>
            </ol>
          </nav>
        </div><!-- End Page Title -->

        <section class="section">
          <div class="row align-items-top">
            <div class="col-lg-12">
              <div class="card recent-sales overflow-auto">
                <div class="card-body">
                  <h5 class="card-title">Recently Added Exams</h5> 
						<h2>List of complete exams</h2>
						{% if sitting_list %}

							<table class="table table-bordered table-striped">

							<thead>
								<tr>
								<th>User</th>
								<th>Quiz</th>
								<th>Completed</th>
								<th>Score (%)</th>
								<th> Action </th>
								</tr>
							</thead>

							<tbody>
								<tr>
								<form action="" method="GET">
									<td><input type="text" name="user_filter" /></td>
									<td><input type="text" name="quiz_filter" /></td>
									<td></td>
									<td></td>
									<td><button type="submit" class="btn btn-outline-primary btn-sm btn-default">Filter</button></td>
								</form>
								</tr>


							{% for sitting in sitting_list %}

								<tr>
								<td>{{ sitting.user.first_name }} {{ sitting.user.last_name }} ({{ sitting.user }})</td>
								<td>{{ sitting.quiz }}</td>
								<td>{{ sitting.end|date }}</td>
								<td>{{ sitting.get_percent_correct }}</td>
								<td>
									<a href="{% url 'quiz_marking_detail' pk=sitting.id %}" class="btn btn-outline-primary">
									View details
									</a>
								</tr>

							{% endfor %}

							</tbody>

							</table>
						{% else %}
							<p>There are no matching quizzes.</p>
						{% endif %}
                  </div>

                </div>
                      
            </div>

          </div>
        </section>

      </main><!-- End #main -->

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

{% endblock %}



